body
{
	font-family: EuphoriaRegular;
}

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

.container-my
{
	
	min-height: 100vh;
	min-width: 100%;
}

.background
{
	/*background-image: url('../resources/images/loveEdited.jpg');*/
	/*background-image: url('../resources/images/belmy.png');*/
	background-image: url('../resources/images/flowersbg.jpg');
	background-image: url('../resources/images/velvetblack.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* Navbar Restyle */

.my-navbar-default
{
	background-color: transparent;
	border-color: transparent; 

	margin-bottom: 0;

	width: 565px;
    margin: 0 auto;
	
	color: white;
	font-size: 30px;
	font-family: EuphoriaRegular;
	text-shadow: 2px 2px black;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited
{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active
{
	color: #ccc;
}

.navbar-default .navbar-nav>li
{	
	padding-top: 30px;
}

.image-at
{
	width: 100px;
	height:100px;

}

.sub-content 
{
	display: none;
}

.active-div
{
	display: block;
}

.welcome-page
{
	text-align: center;
	font-family: EuphoriaRegular;
}

.text-info
{
	background-color: rgba(255, 255, 255, 0.0);
	
	width: 55%;

    margin: 0 auto;
    padding-top: 25px;
}

.text-content
{
	font-family: EuphoriaRegular;
	font-size: 24px;
	letter-spacing: 2px;

	color: white;
	text-shadow: 3px 2px black;


}

.text-content>span
{
	display: block;
	width: 50%;
	text-align: center;

    margin: 0 auto;

    margin-top: 20px;
	margin-bottom: 15px;
    /*background-color: rgba(255, 255, 255, 0.4);*/
}

.wed-name
{
    font-size: 110px;
    color: white;
    
    display: block;
    
    text-shadow: 2px 2px black;
}

.sub-text
{
    font-size: 40px;
    color: white;
    display: block;
    
    text-shadow: 2px 2px black;
}

.save-the-date
{
	background-image: url('../resources/images/savethedate.png');;
	background-size: 100% 100%;
	height: 200px;
	width: 30%;
	margin: 0 auto;
}

.confirmation-wrapper
{
	text-align: center;
}

.confirmation-wrapper a
{
	width: 300px;
	height: 100px;
	font-size: 50px;

	border-radius: 10px;
}

.attendance-cb
{
	color: white;
}

.attendance-cb:hover
{
	color: gray;
}
.attendance
{
	border-style: outset;

	text-align: center;
	font-size: 24px;
}

.attendance-reason
{
	display: block;
}

.attendance-reason-list
{
	font-size: 20px;
}

.attendance-reason-list ul
{
	list-style-type: none;
	margin-right: 50px;
}

.attendance-reason-list ul>li>a
{
	color: white;
}

.attendance-reason-list ul>li>a:hover
{
	text-shadow: 2px 2px black;
	text-decoration: underline;
}

.attendance-attending
{
	text-align: right;
}

.li-title
{
	font-size: 35px; 
	margin-bottom: 10px; 
	color: yellow;
}

.attendance-notattending
{
	text-align: left;
}

.attendance-reason-input
{
	display: block;
	margin: 0 auto;
	width: 200px;
}

/*Flag*/

.belgium-flag
{
	background-image: url('../resources/images/belgium.png');
	background-size: 100% 100%;
	height: 125px;
}

.malaysia-flag
{
	background-image: url('../resources/images/malaysia.png');
	background-size: 100% 100%;
	height: 125px;
}

.attendee-info
{
	text-align: center;
	border-radius: 2px;
	color: white;
	background-color: black;
	
}

.attendee-info label,.attendee-info input,.attendee-info span
{
	width: 80%;
	font-size: 24px;
	background-color: black;

}
.attendee-info span
{
	display: block;
	margin: 0 auto;

	color: red;

	margin-top: 10px;
	margin-bottom: 0px;
}

.attendee-info input
{
	font-family: Lato;
}

/*Countdown timer*/

.countdown-wrapper
{
	margin: 0 auto;
	border-bottom: 1px solid white;
	text-align: center;

	height: 125px;

}

.countdown
{
	font-family: EuphoriaRegular!important;
	padding: 20px;
	margin: 0 auto!important;
	position: absolute;
	text-align: center;
	width: 660px!important;
}

.flip-clock-label
{
	color: white!important;
}

div.inn{
	color: white!important;
	background-color:lightgray!important;
}

.hidden-div
{
	display: none;
}

/*Fonts */
@font-face {
	font-family: EuphoriaRegular;
	src: url('../resources/fonts/EuphoriaScript-Regular.ttf');

}

@media(min-width: 700px){
	.text-size-large{
		font-size: 80px;
	}

	.text-size-medium{
		font-size: 55px;
	}
}

@media(min-width: 1600px){
	.text-size-large{
		font-size: 120px;
	}

	.text-size-medium{
		font-size: 80px;
	}

	.countdown
	{
		width: 53%!important;

	}
}